.takkLogoYellow2 {
  position: absolute;
  top: 12px;
  left: 0;
  width: 434px;
  height: 241px;
  object-fit: cover;
}
.frameChild,
.frameWrapper {
  position: absolute;
  top: 48px;
  left: 0;
  width: 837px;
  height: 96px;
  overflow: hidden;
}
.frameWrapper {
  top: 10px;
  left: 479px;
  width: 100px;
  height: 100px;
}
.nameOfUser {
  position: absolute;
  top: 32px;
  left: 1427px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 158px;
  height: 30px;
}
.frameItem {
  position: absolute;
  top: 15px;
  left: 1644px;
  width: 53px;
  height: 53px;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
}
.div,
.ellipseParent {
  position: absolute;
  top: 4px;
  left: 10px;
}
.ellipseParent {
  top: 47px;
  left: 1677px;
  width: 28px;
  height: 28px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-malgun-gothic);
}
.community,
.donate,
.getFundraising {
  text-decoration: none;
  position: absolute;
  top: 22px;
  left: 31px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 266px;
  height: 51px;
  cursor: pointer;
}
.community,
.donate {
  left: 357px;
  width: 124px;
}
.community {
  left: 541px;
  width: 207px;
}
.frameInner,
.frameInput {
  border: 1px solid var(--color-darkgray);
  font-family: var(--font-inter);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 88px;
  left: 136px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 612px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-31xl);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.frameInput {
  top: 127px;
  left: 51px;
}
.getFundraisingParent {
  position: absolute;
  top: 0;
  left: 513px;
  width: 792px;
  height: 88px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.frameChild1,
.takkLogoYellow2Parent {
  position: absolute;
  font-size: var(--font-size-5xl);
}
.frameChild1 {
  border: 1px solid var(--color-darkgray);
  font-family: var(--font-inter);
  background-color: transparent;
  top: 75px;
  left: 579px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 612px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-31xl);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.takkLogoYellow2Parent {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1728px;
  height: 176px;
  overflow: hidden;
  text-align: left;
}
.help,
.profilePage3Child {
  position: absolute;
  top: 199px;
  left: 0;
  width: 1728px;
  height: 3px;
}
.help {
  top: 1245px;
  left: 1566px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 73px;
  height: 25px;
}
.profilePage3Item {
  position: absolute;
  top: 896px;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1728px;
  height: 1192px;
  overflow: hidden;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 576px;
  height: 121px;
}
.donationHistory {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 40px;
  left: 119px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 40px;
}
.rectangleParent {
  cursor: pointer;
  text-decoration: none;
}
.groupInner,
.rectangleParent,
.subscriptions {
  position: absolute;
  top: 0;
  left: 0;
  width: 576px;
  height: 121px;
}
.subscriptions {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 40px;
  left: 116px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 40px;
}
.rectangleDiv,
.vectorParent {
  position: absolute;
  top: 0;
  width: 576px;
  height: 121px;
}
.vectorParent {
  cursor: pointer;
  text-decoration: none;
  left: 577px;
}
.rectangleDiv {
  left: 0;
  background-color: var(--color-lightcyan);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.paymentMethod,
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.paymentMethod {
  top: 40px;
  left: 94px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 387px;
  height: 40px;
}
.rectangleGroup {
  top: 0;
  left: 1153px;
  width: 576px;
  height: 121px;
}
.pleaseImplementWhat {
  position: absolute;
  top: 492px;
  left: 348px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1028px;
  height: 408px;
}
.groupParent {
  position: absolute;
  top: 896px;
  left: -1px;
  background-color: var(--color-whitesmoke);
  width: 1728px;
  height: 1454px;
  overflow: hidden;
  color: #000;
}
.copyrightAndInformation {
  position: absolute;
  top: 26px;
  left: 515px;
  font-weight: 600;
  display: inline-block;
  width: 697px;
  height: 73px;
}
.copyrightAndInformationAbouWrapper {
  position: absolute;
  top: 2239px;
  left: 0;
  background-color: var(--color-goldenrod);
  width: 1727px;
  height: 303px;
  overflow: hidden;
  text-align: left;
  color: var(--color-gray-100);
}
.myPersonalProfile {
  position: absolute;
  top: 32px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 1050px;
  height: 55px;
}
.myPersonalProfileWrapper {
  position: absolute;
  top: 275px;
  left: 0;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-goldenrod);
  width: 1109px;
  height: 118px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.personalDetails {
  position: absolute;
  top: 466px;
  left: 658px;
  display: inline-block;
  text-align: left;
  width: 427px;
  height: 40px;
}
.image188 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 473px;
  left: 928px;
  width: 26px;
  height: 26px;
  background-image: url(/public/image130@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.firstName {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.password {
  margin: 0;
}
.firstNameLastContainer,
.johnSmith167169Container {
  position: absolute;
  top: 521px;
  left: 693px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  text-align: left;
  width: 235px;
  height: 343px;
}
.johnSmith167169Container {
  left: 834px;
  width: 294px;
}
.image188Icon {
  position: absolute;
  top: 251px;
  left: 1362px;
  width: 191px;
  height: 187px;
  object-fit: cover;
}
.profilePage3Inner {
  position: absolute;
  top: 243.5px;
  left: 1354.5px;
  width: 206px;
  height: 206px;
}
.image189,
.myDashboard {
  position: absolute;
  cursor: pointer;
}
.image189 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 405px;
  left: 1536px;
  width: 26px;
  height: 26px;
  background-image: url(/public/image130@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.myDashboard {
  top: 507px;
  left: 1249px;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 197px;
  height: 36px;
}
.a,
.image1881,
.myDashboard {
  text-decoration: none;
}
.image1881 {
  position: absolute;
  top: 517px;
  left: 1444px;
  width: 23px;
  height: 17px;
  background-image: url(/public/image182@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.a {
  top: 507px;
  left: 1473px;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 36px;
}
.a,
.seeAllMy,
.takkPoints {
  cursor: pointer;
  position: absolute;
}
.takkPoints {
  text-decoration: none;
  top: 507px;
  left: 1502px;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 36px;
}
.seeAllMy {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 60px;
  left: 316px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-dimgray-100);
  text-align: justify;
  display: inline-block;
  width: 164px;
  height: 20px;
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue);
  width: 185px;
  height: 39px;
}
.physicalActivity {
  position: absolute;
  top: 7px;
  left: 20px;
  font-weight: 600;
  display: inline-block;
  width: 148px;
  height: 24px;
}
.rectangleContainer {
  position: absolute;
  top: 10px;
  left: 147px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 185px;
  height: 39px;
}
.groupChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue);
  width: 130px;
  height: 39px;
}
.medical {
  position: absolute;
  top: 7.16px;
  left: 28.54px;
  font-weight: 600;
  display: inline-block;
  width: 73.01px;
  height: 23.88px;
}
.groupDiv,
.rectangleParent1 {
  position: absolute;
  top: 10px;
  left: 11px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 130px;
  height: 39px;
}
.rectangleParent1 {
  left: 338px;
}
.seeAllMyTagsParent {
  position: absolute;
  top: 587px;
  left: 1218px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 480px;
  height: 124px;
  overflow: hidden;
  font-size: var(--font-size-lg);
  color: var(--color-snow);
}
.johnSmith {
  position: absolute;
  top: 460px;
  left: 1336px;
  display: inline-block;
  color: var(--color-gray-200);
  width: 218px;
  height: 36px;
}
.ellipseIcon,
.profilePage3Child1 {
  position: absolute;
  top: 568px;
  left: 139px;
  width: 151px;
  height: 151px;
}
.profilePage3Child1 {
  top: 564px;
  left: 384px;
  height: 154px;
}
.div1,
.div2,
.donated,
.raised {
  position: absolute;
  top: 612px;
  left: 139px;
  font-weight: 800;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 62px;
}
.div2,
.donated,
.raised {
  top: 610px;
  left: 384px;
}
.donated,
.raised {
  top: 739px;
  left: 106px;
  color: var(--color-goldenrod);
  width: 216px;
  height: 28px;
}
.donated {
  top: 737px;
  left: 344px;
  width: 229px;
}
.profilePage3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2542px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}
