.takkLogoYellow2 {
  position: absolute;
  top: 12px;
  left: 0;
  width: 434px;
  height: 241px;
  object-fit: cover;
}
.frameChild,
.frameWrapper {
  position: absolute;
  top: 48px;
  left: 0;
  width: 837px;
  height: 96px;
  overflow: hidden;
}
.frameWrapper {
  top: 10px;
  left: 479px;
  width: 100px;
  height: 100px;
}
.nameOfUser {
  position: absolute;
  top: 32px;
  left: 1427px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 158px;
  height: 30px;
}
.frameItem {
  position: absolute;
  top: 15px;
  left: 1644px;
  width: 53px;
  height: 53px;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
}
.div,
.ellipseParent {
  position: absolute;
  top: 4px;
  left: 10px;
}
.ellipseParent {
  top: 47px;
  left: 1677px;
  width: 28px;
  height: 28px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-malgun-gothic);
}
.community,
.donate,
.getFundraising {
  text-decoration: none;
  position: absolute;
  top: 22px;
  left: 31px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 266px;
  height: 51px;
  cursor: pointer;
}
.community,
.donate {
  left: 357px;
  width: 124px;
}
.community {
  left: 541px;
  width: 207px;
}
.getFundraisingParent {
  position: absolute;
  top: 0;
  left: 513px;
  width: 792px;
  height: 88px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.frameInner,
.takkLogoYellow2Parent {
  position: absolute;
  font-size: var(--font-size-5xl);
}
.frameInner {
  border: 1px solid var(--color-darkgray);
  font-family: var(--font-inter);
  background-color: transparent;
  top: 73px;
  left: 579px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 612px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-31xl);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.takkLogoYellow2Parent {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1728px;
  height: 176px;
  overflow: hidden;
}
.help,
.profilePage1Child {
  position: absolute;
  top: 199px;
  left: 0;
  width: 1728px;
  height: 3px;
}
.help {
  top: 1245px;
  left: 1566px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 73px;
  height: 25px;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 576px;
  height: 121px;
}
.donationHistory {
  position: absolute;
  top: 40px;
  left: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 40px;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 576px;
  height: 121px;
  text-align: center;
}
.subscriptions {
  position: absolute;
  top: 40px;
  left: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 40px;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 576px;
  height: 121px;
}
.paymentMethod {
  position: absolute;
  top: 40px;
  left: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 387px;
  height: 40px;
}
.paymentMethodParent,
.subscriptionsParent {
  position: absolute;
  top: 0;
  left: 576px;
  width: 576px;
  height: 121px;
}
.subscriptionsParent {
  left: 575px;
  width: 1152px;
  text-align: center;
}
.frameChild1,
.lineDiv {
  position: absolute;
  top: 222.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1728px;
  height: 1px;
}
.frameChild1 {
  top: 333.5px;
  left: -2.5px;
}
.div1 {
  top: 248px;
  left: 25px;
  color: var(--color-dimgray-200);
  width: 245px;
  height: 60px;
}
.cyclingAndVideo,
.date,
.div1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.cyclingAndVideo {
  top: 248px;
  left: 243px;
  color: var(--color-dimgray-200);
  width: 664px;
  height: 60px;
}
.date {
  top: 156px;
  left: 25px;
  text-decoration: underline;
  font-weight: 600;
  width: 176px;
  height: 32px;
}
.groupParent {
  position: absolute;
  top: 896px;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1728px;
  height: 1192px;
  overflow: hidden;
  color: var(--color-steelblue);
}
.div3 {
  position: absolute;
  top: 248px;
  left: 1214px;
  color: var(--color-dimgray-200);
  display: flex;
  align-items: center;
  width: 133px;
  height: 60px;
}
.donationHistory2,
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.donationHistory2 {
  top: 40px;
  left: 119px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 40px;
}
.rectangleContainer {
  top: 0;
  left: 0;
  width: 576px;
  height: 121px;
}
.creditCard,
.cyclingAndVideo2,
.div4,
.div5 {
  position: absolute;
  top: 248px;
  left: 25px;
  display: flex;
  align-items: center;
  width: 245px;
  height: 60px;
}
.creditCard,
.cyclingAndVideo2,
.div5 {
  left: 243px;
  width: 664px;
}
.creditCard,
.div5 {
  left: 1030px;
  width: 133px;
}
.creditCard {
  left: 1376px;
  width: 216px;
}
.frameChild6 {
  position: absolute;
  top: 444.5px;
  left: -2.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1728px;
  height: 1px;
}
.creditCard1,
.cyclingAndVideo3,
.div6,
.div7 {
  position: absolute;
  top: 359px;
  left: 25px;
  display: flex;
  align-items: center;
  width: 245px;
  height: 60px;
}
.creditCard1,
.cyclingAndVideo3,
.div7 {
  left: 243px;
  width: 664px;
}
.creditCard1,
.div7 {
  left: 1030px;
  width: 133px;
}
.creditCard1 {
  left: 1376px;
  width: 216px;
}
.frameChild7 {
  position: absolute;
  top: 555.5px;
  left: -2.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1728px;
  height: 1px;
}
.div8 {
  position: absolute;
  top: 582px;
  left: 25px;
  display: flex;
  align-items: center;
  width: 245px;
  height: 60px;
}
.creditCard2,
.cyclingAndVideo4,
.div10,
.div11,
.div9,
.gardenEquipmentTo,
.paypal {
  position: absolute;
  top: 582px;
  left: 243px;
  display: flex;
  align-items: center;
  width: 664px;
  height: 60px;
}
.creditCard2,
.div10,
.div11,
.div9,
.gardenEquipmentTo,
.paypal {
  left: 1030px;
  width: 133px;
}
.creditCard2,
.div10,
.div11,
.gardenEquipmentTo,
.paypal {
  left: 1376px;
  width: 216px;
}
.div10,
.div11,
.gardenEquipmentTo,
.paypal {
  top: 471px;
  left: 25px;
  width: 245px;
}
.div11,
.gardenEquipmentTo,
.paypal {
  left: 243px;
  width: 664px;
}
.div11,
.paypal {
  left: 1030px;
  width: 133px;
}
.paypal {
  left: 1376px;
  width: 216px;
}
.frameChild8 {
  position: absolute;
  top: 666.5px;
  left: -2.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1728px;
  height: 1px;
}
.creditCard3,
.cyclingAndVideo5,
.div12,
.div13 {
  position: absolute;
  top: 693px;
  left: 25px;
  display: flex;
  align-items: center;
  width: 245px;
  height: 60px;
}
.creditCard3,
.cyclingAndVideo5,
.div13 {
  left: 243px;
  width: 664px;
}
.creditCard3,
.div13 {
  left: 1030px;
  width: 133px;
}
.creditCard3 {
  left: 1376px;
  width: 216px;
}
.frameChild9 {
  position: absolute;
  top: 777.5px;
  left: -2.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1728px;
  height: 1px;
}
.creditCard4,
.cyclingAndVideo6,
.div14,
.div15 {
  position: absolute;
  top: 804px;
  left: 25px;
  display: flex;
  align-items: center;
  width: 245px;
  height: 60px;
}
.creditCard4,
.cyclingAndVideo6,
.div15 {
  left: 243px;
  width: 664px;
}
.creditCard4,
.div15 {
  left: 1030px;
  width: 133px;
}
.creditCard4 {
  left: 1376px;
  width: 216px;
}
.amountAllIncl,
.date2,
.initiative,
.paymentMethod2 {
  position: absolute;
  top: 156px;
  font-weight: 600;
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  width: 176px;
  height: 32px;
}
.date2 {
  left: 25px;
  text-decoration: underline;
}
.amountAllIncl,
.initiative,
.paymentMethod2 {
  left: 243px;
}
.amountAllIncl,
.paymentMethod2 {
  left: 1030px;
  width: 275px;
}
.paymentMethod2 {
  left: 1376px;
  width: 270px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 576px;
  height: 121px;
}
.subscriptions2,
.vectorParent {
  cursor: pointer;
  position: absolute;
}
.subscriptions2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 40px;
  left: 116px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 40px;
}
.vectorParent {
  text-decoration: none;
  top: 0;
  left: 574px;
  width: 576px;
  height: 121px;
}
.copyrightAndInformation {
  position: absolute;
  top: 26px;
  left: 515px;
  font-weight: 600;
  display: inline-block;
  width: 697px;
  height: 73px;
}
.copyrightAndInformationAbouWrapper {
  position: absolute;
  top: 1192px;
  left: 1px;
  background-color: var(--color-goldenrod);
  width: 1727px;
  height: 303px;
  overflow: hidden;
  color: var(--color-gray-100);
}
.frameDiv,
.groupA {
  position: absolute;
  top: 896px;
}
.frameDiv {
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1728px;
  height: 1495px;
  overflow: hidden;
}
.groupA {
  cursor: pointer;
  text-decoration: none;
  left: 1149px;
  width: 576px;
  height: 121px;
}
.personalDetails {
  position: absolute;
  top: 492px;
  left: 645px;
  display: inline-block;
  width: 427px;
  height: 40px;
}
.firstName {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.password {
  margin: 0;
}
.editPersonalDetails,
.firstNameLastContainer,
.johnSmith167169Container {
  position: absolute;
  top: 553px;
  left: 675px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 235px;
  height: 343px;
}
.editPersonalDetails,
.johnSmith167169Container {
  top: 551px;
  left: 827px;
  width: 294px;
}
.editPersonalDetails {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 839px;
  left: 675px;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  text-align: left;
  height: 28px;
}
.image43Icon {
  position: absolute;
  top: 281px;
  left: 1353px;
  width: 191px;
  height: 187px;
  object-fit: cover;
}
.profilePage1Item {
  position: absolute;
  top: 272.5px;
  left: 1345.5px;
  width: 206px;
  height: 206px;
}
.image130,
.image131 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 434px;
  left: 1527px;
  width: 26px;
  height: 26px;
  background-image: url(/public/image130@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image131 {
  top: 840px;
  left: 632px;
}
.johnSmith,
.myPersonalProfile {
  position: absolute;
  display: inline-block;
}
.myPersonalProfile {
  top: 336px;
  left: 52px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  color: var(--color-white);
  text-align: right;
  width: 1050px;
  height: 55px;
}
.johnSmith {
  top: 485px;
  left: 1339px;
  color: var(--color-gray-200);
  text-align: center;
  width: 218px;
  height: 36px;
}
.ellipseIcon,
.profilePage1Inner {
  position: absolute;
  top: 585px;
  left: 104px;
  width: 151px;
  height: 151px;
}
.ellipseIcon {
  top: 581px;
  left: 349px;
  height: 154px;
}
.div16,
.div17,
.donated,
.raised {
  position: absolute;
  top: 629px;
  left: 104px;
  font-weight: 800;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 62px;
}
.div17,
.donated,
.raised {
  top: 627px;
  left: 349px;
}
.donated,
.raised {
  top: 756px;
  left: 71px;
  color: var(--color-goldenrod);
  width: 216px;
  height: 28px;
}
.donated {
  top: 754px;
  left: 309px;
  width: 229px;
}
.myPersonalProfile1 {
  position: absolute;
  top: 32px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 1050px;
  height: 55px;
}
.myPersonalProfileWrapper {
  position: absolute;
  top: 304px;
  left: 2px;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-goldenrod);
  width: 1100px;
  height: 118px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.myDashboard,
.seeAllMy {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  font-family: var(--font-inter);
}
.myDashboard {
  top: 532px;
  left: 1205px;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 36px;
}
.seeAllMy {
  top: 60px;
  left: 316px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-dimgray-100);
  text-align: justify;
  display: inline-block;
  width: 164px;
  height: 20px;
}
.groupChild6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue);
  width: 185px;
  height: 39px;
}
.physicalActivity {
  position: absolute;
  top: 7px;
  left: 20px;
  font-weight: 600;
  display: inline-block;
  width: 148px;
  height: 24px;
}
.groupChild7,
.groupDiv {
  position: absolute;
  height: 39px;
}
.groupDiv {
  top: 10px;
  left: 147px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 185px;
}
.groupChild7 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue);
  width: 130px;
}
.medical {
  position: absolute;
  top: 7.16px;
  left: 28.54px;
  font-weight: 600;
  display: inline-block;
  width: 73.01px;
  height: 23.88px;
}
.rectangleParent1,
.rectangleParent2 {
  position: absolute;
  top: 10px;
  left: 11px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 130px;
  height: 39px;
}
.rectangleParent2 {
  left: 338px;
}
.seeAllMyTagsParent {
  position: absolute;
  top: 615px;
  left: 1216px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 480px;
  height: 124px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-snow);
}
.takkPoints {
  top: 532px;
  left: 1493px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 36px;
}
.button,
.image182,
.takkPoints {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.button {
  top: 532px;
  left: 1450px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 36px;
}
.image182 {
  top: 542px;
  left: 1427px;
  width: 23px;
  height: 17px;
  background-image: url(/public/image182@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.profilePage1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2391px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}
