.frame-group {
  position: absolute;
  top: 261px;
  left: 0;
  background-color: var(--color-white);
  width: 1728px;
  height: 654px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
}

.imagevideo {
  position: absolute;
  top: 122px;
  left: 84px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 60px;
}

.browse-initiatives {
  margin-top: auto; 
  margin-left: 80px;
  left: 250px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-black);
  width: 569px;
  height: 65px;
}

@media (min-width:2480px) {
  .frame-group {
    position: absolute;
    top: 261px;
    left: 0;
    background-color: var(--color-white);
    width: 100%;
    height: 654px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }

 

}