.theNameOf {
  position: absolute;
  top: 468px;
  left: 68px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 557px;
  height: 40px;
}
.frameChild {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  top: 543px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 53px;
  cursor: pointer;
}
.aDescriptionOf,
.frameChild,
.frameItem {
  position: absolute;
  left: 68px;
  width: 922px;
}
.aDescriptionOf {
  top: 661px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  height: 40px;
}
.frameItem {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  top: 736px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 202px;
  cursor: pointer;
}
.theLocationOf,
.yourInitiativeVideopictures {
  position: absolute;
  top: 1524px;
  left: 86px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 843px;
  height: 40px;
}
.yourInitiativeVideopictures {
  top: 1222px;
  left: 82px;
}
.frameInner,
.lineDiv {
  position: absolute;
  box-sizing: border-box;
}
.frameInner {
  top: 1599px;
  left: 86px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  width: 922px;
  height: 53px;
}
.lineDiv {
  top: 1598.5px;
  left: 928.5px;
  border-right: 1px solid var(--color-darkgray-100);
  width: 1px;
  height: 54px;
}
.image89Icon {
  position: absolute;
  top: 1610px;
  left: 953px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frameChild1 {
  position: absolute;
  top: 234px;
  left: 1192px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 430px;
  height: 53px;
}
.image90Icon {
  top: 245px;
  left: 1572px;
  width: 27px;
  height: 30px;
  object-fit: cover;
}
.b,
.ellipseIcon,
.image90Icon {
  position: absolute;
}
.b {
  top: 906px;
  left: 921px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-goldenrod-200);
  text-align: center;
  width: 58px;
  height: 19px;
}
.ellipseIcon {
  top: 80px;
  left: 1059px;
  width: 39px;
  height: 39px;
}
.div {
  position: absolute;
  top: 85px;
  left: 1072px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.bankDetailsFor,
.confirmationAndConsents,
.sortCode {
  position: absolute;
  top: 4078px;
  left: 81px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 703px;
  height: 40px;
}
.confirmationAndConsents,
.sortCode {
  top: 5368px;
  left: 66px;
}
.sortCode {
  top: 4446px;
  left: 91px;
}
.rectangleInput {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  position: absolute;
  top: 4505px;
  left: 85px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 386px;
  height: 53px;
  cursor: pointer;
}
.accountNumber,
.iHerebyConsent {
  position: absolute;
  display: inline-block;
}
.accountNumber {
  top: 4602px;
  left: 91px;
  font-size: var(--font-size-17xl);
  width: 703px;
  height: 40px;
}
.iHerebyConsent {
  top: 5636px;
  left: 115px;
  font-size: var(--font-size-5xl);
  width: 957px;
}
.frameChild2 {
  position: absolute;
  top: 4661px;
  left: 85px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 693px;
  height: 53px;
}
.accountNumber1 {
  position: absolute;
  top: 4671px;
  left: 96px;
  color: var(--color-gray-500);
}
.frameChild3 {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  position: absolute;
  top: 4661px;
  left: 85px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 693px;
  height: 53px;
  cursor: pointer;
}
.accountHolderName {
  position: absolute;
  top: 4159px;
  left: 91px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 703px;
  height: 40px;
}
.frameChild4 {
  position: absolute;
  top: 4218px;
  left: 85px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 693px;
  height: 53px;
}
.accountNumber2 {
  position: absolute;
  top: 4228px;
  left: 96px;
  color: var(--color-gray-500);
}
.frameChild5 {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  position: absolute;
  top: 4218px;
  left: 85px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 693px;
  height: 53px;
  cursor: pointer;
}
.target {
  position: absolute;
  top: 3662px;
  left: 91px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 557px;
  height: 40px;
}
.frameChild6 {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  position: absolute;
  top: 3884px;
  left: 85px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 238px;
  height: 53px;
  cursor: pointer;
}
.frameChild7 {
  position: absolute;
  top: 5149px;
  left: 1053px;
  width: 39px;
  height: 39px;
}
.div1 {
  position: absolute;
  top: 5154px;
  left: 1066px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frameChild8 {
  position: absolute;
  top: 3317px;
  left: 1053px;
  width: 39px;
  height: 39px;
}
.div2 {
  position: absolute;
  top: 3322px;
  left: 1066px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.aShortDescription {
  position: absolute;
  top: 990px;
  left: 62px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 701px;
  height: 40px;
}
.frameChild9 {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  position: absolute;
  top: 1065px;
  left: 62px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 922px;
  height: 53px;
  cursor: pointer;
}
.frameChild10 {
  position: absolute;
  top: 153px;
  left: 1645px;
  width: 39px;
  height: 39px;
}
.div3 {
  position: absolute;
  top: 158px;
  left: 1658px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frameChild11 {
  position: absolute;
  top: 61.5px;
  left: 1162.5px;
  border-right: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 1px;
  height: 1683px;
}
.frameChild12,
.frameChild13,
.frameChild14,
.frameChild15,
.frameChild16 {
  position: absolute;
  top: 1384.5px;
  left: 81.5px;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 438px;
  height: 1px;
}
.frameChild13,
.frameChild14,
.frameChild15,
.frameChild16 {
  top: 1848.5px;
  left: 75.5px;
  width: 1535px;
}
.frameChild14,
.frameChild15,
.frameChild16 {
  top: 3239.5px;
  left: 70.5px;
}
.frameChild15,
.frameChild16 {
  top: 4021.5px;
  left: 93.5px;
}
.frameChild16 {
  top: 5060.5px;
  left: 84.5px;
}
.frameChild17,
.lineIcon {
  position: absolute;
  top: 280px;
  left: 1192px;
  width: 425px;
  height: 1.95px;
}
.frameChild17 {
  top: 304px;
  left: -10998px;
  background-color: var(--color-whitesmoke-100);
  width: 1530px;
  height: 12px;
}
.frameChild18,
.frameChild19 {
  position: absolute;
  box-sizing: border-box;
}
.frameChild18 {
  top: 233.5px;
  left: 1554.5px;
  border-right: 1px solid var(--color-darkgray-100);
  width: 1px;
  height: 54px;
}
.frameChild19 {
  top: 139px;
  left: 1192px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  width: 430px;
  height: 80px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue);
  width: 190px;
  height: 49px;
}
.education {
  position: absolute;
  top: 9px;
  left: 34px;
  font-weight: 600;
  display: inline-block;
  width: 121px;
  height: 30px;
}
.groupItem,
.rectangleParent {
  position: absolute;
  top: 0;
  height: 49px;
}
.rectangleParent {
  left: 173px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 190px;
}
.groupItem {
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue);
  width: 164px;
}
.blankLine {
  margin: 0;
}
.medical {
  position: absolute;
  top: 9px;
  left: 36px;
  font-weight: 600;
  display: inline-block;
  width: 92.11px;
  height: 30px;
}
.groupParent,
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 164px;
  height: 49px;
}
.groupParent {
  top: 153px;
  left: 1206px;
  width: 363px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-snow-100);
}
.image132Icon,
.image133Icon,
.image51Icon {
  position: absolute;
  top: 1279px;
  left: 82px;
  width: 30px;
  height: 29.12px;
  object-fit: cover;
}
.image132Icon,
.image133Icon {
  top: 1277px;
  left: 349px;
  width: 24px;
  height: 30.4px;
}
.image133Icon {
  top: 1408px;
  left: 82px;
  width: 30px;
  height: 31px;
}
.frameChild20 {
  position: absolute;
  top: 391px;
  left: 1639px;
  width: 39px;
  height: 39px;
}
.div4 {
  position: absolute;
  top: 396px;
  left: 1652px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.image166Icon,
.image167Icon,
.image168Icon {
  position: absolute;
  top: 493px;
  left: 1451px;
  width: 30px;
  height: 31px;
  object-fit: cover;
}
.image167Icon,
.image168Icon {
  top: 531px;
  left: 1368px;
}
.image168Icon {
  top: 445px;
  left: 1390px;
}
.frameChild21 {
  cursor: pointer;
  position: absolute;
  top: 5636px;
  left: 66px;
  background-color: var(--color-gray-400);
  border: 3px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 28px;
  height: 28px;
}
.image160Icon,
.image161Icon,
.image163Icon,
.image164Icon {
  position: absolute;
  top: 2478px;
  left: 649px;
  width: 30px;
  height: 31px;
  object-fit: cover;
}
.image161Icon,
.image163Icon,
.image164Icon {
  top: 2528px;
  left: 277px;
}
.image163Icon,
.image164Icon {
  top: 2793px;
  left: 426px;
}
.image164Icon {
  top: 3059px;
  left: 227px;
}
.communitiesForThis {
  position: absolute;
  top: 2427px;
  left: 77px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 843px;
  height: 40px;
}
.frameChild22 {
  position: absolute;
  top: 1950px;
  left: 1053px;
  width: 39px;
  height: 39px;
}
.div5 {
  position: absolute;
  top: 1955px;
  left: 1066px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frameChild23 {
  position: absolute;
  top: 2589.5px;
  left: 76.5px;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 438px;
  height: 1px;
}
.image203Icon {
  position: absolute;
  top: 2613px;
  left: 77px;
  width: 30px;
  height: 31px;
  object-fit: cover;
}
.addACommunity,
.perranporth,
.supportersOfPerran {
  position: absolute;
  top: 2478px;
  left: 77px;
  color: var(--color-steelblue);
  display: inline-block;
  width: 642px;
  height: 46px;
}
.addACommunity,
.perranporth {
  top: 2524px;
  width: 204px;
}
.addACommunity {
  top: 2610px;
  left: 122px;
  width: 441px;
}
.image205Icon {
  position: absolute;
  top: 3131px;
  left: 77px;
  width: 30px;
  height: 31px;
  object-fit: cover;
}
.addAProductservice {
  position: absolute;
  top: 3128px;
  left: 122px;
  color: var(--color-lightgray);
  display: inline-block;
  width: 441px;
  height: 46px;
}
.image204Icon {
  position: absolute;
  top: 2865px;
  left: 81px;
  width: 30px;
  height: 31px;
  object-fit: cover;
}
.addAnOrganisation {
  position: absolute;
  top: 2862px;
  left: 126px;
  color: var(--color-lightgray);
  display: inline-block;
  width: 441px;
  height: 46px;
}
.organisationForThis {
  position: absolute;
  top: 2745px;
  left: 77px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 843px;
  height: 40px;
}
.frameChild24 {
  position: absolute;
  top: 2848.5px;
  left: 76.5px;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 438px;
  height: 1px;
}
.perranBayCare,
.productserviceInThis {
  position: absolute;
  left: 77px;
  display: inline-block;
}
.perranBayCare {
  top: 2796px;
  color: var(--color-steelblue);
  width: 441px;
  height: 46px;
}
.productserviceInThis {
  top: 3008px;
  font-size: var(--font-size-17xl);
  width: 843px;
  height: 40px;
}
.frameChild25 {
  position: absolute;
  top: 3111.5px;
  left: 76.5px;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 438px;
  height: 1px;
}
.basicInformationAbout,
.motiview {
  position: absolute;
  display: inline-block;
}
.motiview {
  top: 3059px;
  left: 77px;
  color: var(--color-steelblue);
  width: 441px;
  height: 46px;
}
.basicInformationAbout {
  top: 15px;
  left: 50px;
  font-weight: 600;
  width: 706px;
  height: 44px;
}
.basicInformationAboutTheInWrapper {
  position: absolute;
  top: 62px;
  left: 0;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-goldenrod-200);
  width: 768px;
  height: 75px;
  overflow: hidden;
  text-align: right;
  color: var(--color-white);
}
.firstOfAllContainer {
  position: absolute;
  top: 169px;
  left: 70px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  white-space: pre-wrap;
  width: 951px;
}
.communitiesAndOtherContextWrapper {
  position: absolute;
  top: 1923px;
  left: 0;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-goldenrod-200);
  width: 768px;
  height: 75px;
  overflow: hidden;
  text-align: right;
  color: var(--color-white);
}
.allInitiativesMustContainer {
  position: absolute;
  top: 2057px;
  left: 73px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 951px;
}
.paymentInformationWrapper {
  position: absolute;
  top: 3299px;
  left: 2px;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-goldenrod-200);
  width: 768px;
  height: 75px;
  overflow: hidden;
  text-align: right;
  color: var(--color-white);
}
.finallyYouMustContainer {
  position: absolute;
  top: 3433px;
  left: 75px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 951px;
}
.confirmationAndConsentsWrapper {
  position: absolute;
  top: 5109px;
  left: 0;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-goldenrod-200);
  width: 768px;
  height: 75px;
  overflow: hidden;
  text-align: right;
  color: var(--color-white);
}
.forClosingThings {
  position: absolute;
  top: 5243px;
  left: 73px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 951px;
}
.frameDiv {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 157px;
  height: 51px;
  overflow: hidden;
}
.oneTime {
  position: absolute;
  top: 11px;
  left: 373px;
  font-weight: 600;
  display: inline-block;
  width: 128px;
  height: 30px;
}
.frameParent {
  position: absolute;
  top: 3767px;
  left: 85px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-goldenrod-200);
  box-sizing: border-box;
  width: 588px;
  height: 52px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-goldenrod-200);
}
.monthly {
  position: absolute;
  top: 10px;
  left: 79px;
  font-weight: 600;
  display: inline-block;
  width: 135px;
  height: 30px;
}
.monthlyWrapper {
  position: absolute;
  top: 3768px;
  left: 85px;
  border-radius: var(--br-8xs);
  background-color: var(--color-goldenrod-200);
  width: 293px;
  height: 51px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-snow-100);
}
.asonJudd,
.debbieJohnson,
.johnSmith {
  position: absolute;
  top: 437px;
  left: 1188px;
  color: var(--color-steelblue);
  display: inline-block;
  width: 441px;
  height: 46px;
}
.asonJudd,
.debbieJohnson {
  top: 485px;
  width: 483px;
}
.asonJudd {
  top: 526px;
  width: 441px;
}
.frameChild26 {
  position: absolute;
  top: 595.5px;
  left: 1187.5px;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 438px;
  height: 1px;
}
.inviteANew {
  position: absolute;
  top: 615px;
  left: 1230px;
  color: var(--color-steelblue);
  display: inline-block;
  width: 441px;
  height: 46px;
}
.image203Icon1 {
  position: absolute;
  top: 620px;
  left: 1188px;
  width: 30px;
  height: 31px;
  object-fit: cover;
}
.ukBankAccount {
  position: absolute;
  top: 4387px;
  left: 130px;
  display: inline-block;
  width: 441px;
  height: 46px;
}
.frameChild27 {
  position: absolute;
  top: 4387px;
  left: 85px;
  width: 35px;
  height: 35px;
}
.frameChild28,
.paypal {
  position: absolute;
  top: 4394px;
  left: 93px;
  width: 20px;
  height: 20px;
}
.paypal {
  top: 4824px;
  left: 130px;
  display: inline-block;
  width: 441px;
  height: 46px;
}
.frameChild29 {
  top: 4824px;
  width: 35px;
  height: 35px;
}
.frameChild29,
.frameChild30,
.paypalId {
  position: absolute;
  left: 85px;
}
.paypalId {
  top: 4892px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 703px;
  height: 40px;
}
.frameChild30 {
  border: 1px solid var(--color-darkgray-100);
  background-color: var(--color-white);
  top: 4953px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 693px;
  height: 53px;
  cursor: pointer;
}
.iHerebyConfirmContainer {
  position: absolute;
  top: 5464px;
  left: 118px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 951px;
}
.frameChild31 {
  cursor: pointer;
  position: absolute;
  top: 5467px;
  left: 66px;
  background-color: var(--color-gray-400);
  border: 3px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 28px;
  height: 28px;
}
.iHerebyConsent1 {
  position: absolute;
  top: 5842px;
  left: 115px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 957px;
}
.frameChild32 {
  cursor: pointer;
  position: absolute;
  top: 5842px;
  left: 66px;
  background-color: var(--color-gray-400);
  border: 3px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 28px;
  height: 28px;
}
.save {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-snow-100);
  text-align: center;
}
.saveWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-seagreen);
  position: absolute;
  top: 5996px;
  left: 1497px;
  width: 174px;
  height: 39px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cancel,
.theNameOfYourInitiativeParent {
  position: absolute;
  font-family: var(--font-inter);
}
.cancel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 6001px;
  left: 1367px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  color: var(--color-steelblue);
  text-align: center;
  display: inline-block;
  width: 114.1px;
  height: 30px;
}

groupChild,
.save {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.groupChild {
  background-color: var(--color-seagreen);
  top: 0;
  left: 132.61px;
  border-radius: var(--br-sm);
  width: 200.39px;
  height: 49px;
}
.cancel,
.save {
  background-color: transparent;
  font-size: var(--font-size-xs);
  font-weight: 800;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 126.23px;
  height: 30px;
}
.save {
  top: 10px;
  left: 171.9px;
  color: var(--color-snow);
}
.cancel {
  top: 9px;
  left: 0;
  color: var(--color-steelblue);
}
.rectangleParent {
  position: absolute;
  top: 2104px;
  left: 1306px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 333px;
  height: 49px;
}

.theNameOfYourInitiativeParent {
  top: 178px;
  left: 0;
  background-color: var(--color-azure);
  width: 1728px;
  height: 6090px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-300);
}
