@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 26px;
  --font-size-3xl: 30px;
  --font-size-4xl: 32px;
  --font-size-5xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-lightcyan: #d6f0f0;
  --color-goldenrod-100: #ffba49;
  --color-darkgray: #ababab;
  --color-black: #000;
  --color-steelblue: #086390;
  --color-whitesmoke: #f5fbfb;
  --color-seagreen: #22814d;
  --color-dimgray: #606060;

  /* border radiuses */
  --br-sm: 5px;
  --br-md: 10px;
}
