.alert-message {
  position: absolute;
  top: 10px;
  left: 750px;
  display: inline-block;
  width: 267px;
  height: 31px;
}
.image-42-icon {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  object-fit: cover;
}
.image-42-wrapper {
  cursor: default;
  border: 0;
  padding: var(--padding-sm);
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 1659px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.alert-message-parent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-goldenrod-200);
  width: 1728px;
  height: 64px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
